@import 'nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@mixin flexbox() {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
// .ibg{
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	position: relative;
// }
// .ibg img{
// 	width: 1920px;
// 	height: 1080px;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	opacity: 0;
// 	visibility: hidden;
// }
body{
	font-family: 'Lato';
}

.header-block {
	text-align: center;
	

	&__title {
		font-size: 34px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		color: #000000;
		position: relative;
		padding: 0 0 30px 0;
		&::after{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			margin: 0 0 0 -40.5px;
			width: 81px;
			height: 1px;
			background: #000;
		}
	}

	&__subtitle {
		padding: 30px 0 0 0;
		font-size: 14px;
		line-height: 25px;
		font-weight: 300;
		color: #868585;
		max-width: 700px;
		margin: 0 auto;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow:hidden;
	@include flexbox();
	flex-direction: column;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
}

.mainblock {
	background: #606d93;
	flex: 1 1 auto;
	position: relative;
	@include flexbox();
	justify-content: center;
	text-align: center;
	padding: 50px 0;

	&__content {
		flex: 1 1 auto;
		.container{
			height: 100%;
			@include flexbox();
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
	}

	&__text {
		color: #fff;
		position: relative;
		padding: 0 0 45px 0;
		margin: 30px 0;
		&::after {
			content: '';
			width: 105px;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 50%;
			margin: 0 0 0 -52.5px;
			bottom: 0;
		}
	}

	&__title {
		font-size: 34px;
		line-height: 40px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		margin: 0 0 10px 0;
	}

	&__subtitle {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 0.16em;
	}

	&__footer {
		display: inline-flex;
		flex-direction: column;
	}

	&__btn {
		margin: 0 0 60px 0;
	}

	&__arrow {
		position: relative;
		animation: arrow 2s infinite linear;
	}

	// &__image {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// }
}
.btn {
	display: inline-block;
	height: 47px;
	padding: 0 40px;
	line-height: 44px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.06em;
	&_w {
		color: #fff;
		border: 1px solid #fff;
	}
}

@keyframes arrow{
	0%{top: 0;}
	50%{top:10px;}
	100%{top: 0px}
}
@-webkit-keyframes arrow {
	0%{top: 0;}
	50%{top:10px;}
	100%{top: 0px}
}
@-moz-keyframes arrow {
	0%{top: 0;}
	50%{top:10px;}
	100%{top: 0px}
}
@-o-keyframes arrow {
	0%{top: 0;}
	50%{top:10px;}
	100%{top: 0px}
}

.content {
}
.menu {
	padding: 22px 0;
	border-bottom: 1px solid #f2f2f2;
	&_mb {
		margin: 0 0 130px 0;
	}

	&__items {
	}

	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
		li{margin: 0 25px;}
	}

	&__link {
		font-size: 15px;
		font-weight: 700;
		color: #3c3c3c;
		text-transform: uppercase;
		&:hover {
			color: #ada074;
			font-weight: 400;
		}
		&_act {
			color: #ada074;
			font-weight: 400;
		}
	}
}


.about {
	padding: 0 0 60px 0;
	&__header-block {
		margin: 0 0 65px 0;
	}

	&__body {
		text-align: center;
		max-width: 900px;
	}

	&__row {
		@include flexbox();
		margin: 0 -15px;
	}

	&__column {
		margin: 0 0 30px 0;
		flex: 0 1 33.333%;
		padding: 0 15px;
	}

	&__item {
		text-align: center;
		max-width: 260px;
	}

	&__icon {
		width: 92px;
		height: 92px;
		border: 1px solid #f1f1f1;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 40px 0;
		&_l {
			img {
				position: relative;left: 5px;
			}
		}
	}

	&__title {
		margin: 0 0 33px 0;
		font-size: 22px;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: #000000;
	}

	&__text {
		font-size: 14px;
		line-height: 26px;
		font-weight: 300;
		color: #868585;
	}
}

